[submodule "transformers"]
	path = transformers
	url = git@github.com:bling0830/transformers.git
[submodule "lm-evaluation-harness"]
	path = lm-evaluation-harness
	url = git@github.com:bling0830/lm-evaluation-harness.git
